*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Roboto', sans-serif;
}

/* ##### HEADER ##### */

header{
    width: 100vw;
    height: 100px;
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    z-index: 100;
    background-color: white;
}

.h{
    padding: 0 20px;
    display: flex;
    align-items: center;
}

header a{
    margin: 0 50px;
    text-decoration: none;
    color: grey;
}

.button{
    padding: 10px;
    background-color: #0061ff;
    color: white;
    border: none;
}

/* ##### JUMBOTRON ##### */

.jumbotron{
    width: 99.3vw;
    background-color: #b4d0e7;
    margin-top: 100px;
    padding-top: 130px;
    margin: auto;
}

.jumbotitle >h1{
    font-size: 100px;
}

.jumbotitle{
    width: 65%;
    margin: auto;
    padding: 20px;
}

.jumbomain{
    width: 65%;
    margin: auto;
    display: flex;
}

.jumboinfo{
    width: 30%;
    padding: 10px 20px;
}

.jumboinfo >p{
    margin: 40px 0;
}

.fa-arrow-down{
    font-size: 40px;
    color: black;
}

.jumboimg{
    width: 70%;

}

.jumboimg >img{
    width: 100%;
    margin-top: 40px;
}

/* ##### MAIN ##### */

main{
    width: 50%;
    margin: auto;
    margin-top: 200px;
}

/* Section 1 */

section >h2{
    font-size: 40px;
}

input[type=radio] {
    margin: 60px 0 50px 0;
}

.radiospan{
    margin: 0 40px 0 5px;
}

.business{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.b{
    width: calc(100% / 3 - 50px);
    border: 1px solid rgba(128, 128, 128, 0.3);
}

.enterprise{
    width: 100%;
    margin-top: 60px;
    border: 1px solid rgba(128, 128, 128, 0.3);
}

.testata{
    border-bottom: 1px solid rgba(128, 128, 128, 0.3);
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.corpo{
    padding: 40px 25px;
}

.corpo2{
    display: flex;
    justify-content: space-between;
}

.cleft{
    padding: 40px 25px;
}

.cleft >h4{
    margin: 30px 0 50px 0;
}

.corpo >p{
    margin: 20px 0;
    display: flex;
}

.fa-solid{
    margin-right: 5px;
}

.secondbutton{
    padding: 10px 10px;
    background-color: #0061ff;
    color: white;
    border: none;
    margin: 40px 25px;
    width: 260px;
    height: 40px;
}

hr{
    margin: 30px 0;
}


.fa-check{
    color: #0061ff;
}

/* Section 2 */

.partership{
    width: 100%;
    margin-top: 150px;
    margin-bottom: 150px;
    display: flex;
}

.shipleft{
    width: 60%;
}

.shipleft >img{
    display: block;
    width: 100%;
}

.shipright{
    width: 35%;
    padding: 70px 90px 100px 60px;
}

.shipright >p {
    margin: 30px 0 40px 0;
    font-size: 17px;
}

.buttonwhite{
    padding: 10px;
    font-size: 18px;
    background-color: white;
    border: 1px solid black;
}

/* Section 3 */

.opbusiness{
    width: 100%;
    margin-bottom: 200px;
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.card{
    width: calc(100% / 3 - 70px);
    margin-top: 30px;
}

.card >img{
    width: 100%;
}

.card >p{
    margin: 30px 0;
}

/* SPONSOR */

.sponsor{
    width: 99.3vw;
    height: calc(99.3vw / 3);
    margin: auto;
    background-color: burlywood;
    display: flex;
    margin-top: 150px;
}

.sp{
    width: calc(100% / 3);
    min-height: 100%;
}

.left ,.right{
    display: flex;
    flex-wrap: wrap;
}

.square{
    width: 50%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.trialfree{
    width: 99.3vw;
    min-height: 400px;
    background-color: #b4d0e7;
    margin: auto;
    display: flex;
    align-items: center;
}

.cont{
    width: 50%;
    margin: auto;
    display: flex;
}

.trial{
    align-items: center;
}

.trialleft{
    width: 60%;
    font-size: 25px;
}

.trialright{
    width: 40%;
}

#buttontrial{
    padding: 5px 10px;
    background-color: white;
    border: none;
    margin: 40px 25px;
    width: 260px;
    height: 40px;
}

.info{
    background-color: #f5f5f5;
    padding: 60px;
    overflow-y: auto;
}

.info >p{
    margin: 40px 0;
}

.s1{
    background-color: #a2d39b;
    border: 20px solid #d1e9cd;
}

.square > img{
    width: 50%;
}

.s2{
    background-color: #61082b;
}

.s3{
    background-color: #0093ce;
}

.s4{
    background-color: #ff1c1c;
}

.s5{
    background-color: #d5001f;
}

.s6{
    background-color: #b4d0e7;
}

.s7{
    background-color: #0d2481;
}

.s8{
    background-color: #ffd830;
}

/* FAQ */

.faq{
    width: 50%;
    margin: auto;
}

.faq >h2{
    font-size: 35px;
    padding-top: 120px;
    margin-bottom: 60px;
}

.quest{
    border-top: 1px solid rgba(128, 128, 128, 0.4);
    line-height: 80px;
    display: flex;
    justify-content: space-between;
}

.last{
    border-bottom: 1px solid rgba(128, 128, 128, 0.4);
    margin-bottom: 150px;
}

.fa-chevron-down{
    margin-right: 30px;
}

/* ##### FOOTER ##### */

footer{
    width: 99.3vw;
    min-height: 500px;
    margin: auto;
    padding-top: 50px;
    background-color: black;
}

.foot{
    width: 70%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.column{
    width: calc(100% / 5);
    display: flex;
    flex-direction: column;
}

.column >a{
    margin-top: 20px;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.74);
}

.column >h2{
    font-size: 25px;
    color: white;
}

.lenguage{
    width: 70%;
    margin: auto;
    margin-top: 120px;
}